.element {
  margin: auto;
  width: 80%;
  border: 0.8px solid #ddf0f0;
  padding: 10px;
}

.wrapper {
  margin: auto;
  height:650px;
}

.chart {
  display: block;
  margin: auto;
  width: 95%;
}

.pageContainer {
  display: grid;
  row-gap: 40px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}



